.header {
  background-color: $base_color;
  height: auto;
  text-align: center;

  img {
    width: 85%;
    height: auto;
  }

  a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
  }
}

.description {
  background-color: $accent_color;
  color: white;
  font-size: 1rem;

  h2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (min-width: 768px) {
  .header {
    img {
      width: 60%;
      height: auto;
    }
  }
}
