.header {
  background-image: url(../images/head-backgound.jpg);
  background-size: cover;
  background-position: center;

  &-description {
    color: $color-text-dark-primary;
    width: 40%;
    font-size: 1.1rem;
    text-shadow:
      3px 3px 0px #ffffff,
      -3px 3px 0px #ffffff,
      3px -3px 0px #ffffff,
      -3px -3px 0px #ffffff,
      3px 0px 0px #ffffff,
      0px 3px 0px #ffffff,
      -3px 0px 0px #ffffff,
      0px -3px 0px #ffffff;
  }

  &-heading {
    color: $color-text-dark-primary;
    font-size: 3.5rem;
    font-weight: 800;
    text-shadow:
      3px 3px 0px #ffffff,
      -3px 3px 0px #ffffff,
      3px -3px 0px #ffffff,
      -3px -3px 0px #ffffff,
      3px 0px 0px #ffffff,
      0px 3px 0px #ffffff,
      -3px 0px 0px #ffffff,
      0px -3px 0px #ffffff;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }
}
