.list-group-element {
  color: $color-text-dark-primary;
  display: block;
  font-size: 0.9rem;
  line-height: 1.7;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;

  &-heading {
    font-size: 1.5rem;
  }

  &-images {
    margin-top: 8px;

    &-element {
      border-radius: 50%;
      vertical-align: middle;

      &+& {
        margin-left: 4px;
      }
    }

    &-guest {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #e0e0e0;
      color: #666;
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
}
